#xp {
    margin: auto;
    margin-bottom: 2rem;
    width: 80%;
}

#xp-bar-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#xp-bar-level {
    text-align: left;
    font-weight: 800;
}
#xp-bar-amount {
    text-align: right;
}

#xp-bar {
    width: 100%;
    height: 20px;
    border: 2px solid white;
    border-radius: 3px;
}
#xp-bar::-webkit-progress-value {
    transition: width 0.3s ease-in-out;
}
#xp-bar::-moz-progress-bar {
    transition: width 0.3s ease-in-out;
}

#kcal-burned, #kcal-burned-short {
    margin: auto;
    width: 80%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 800;
}
#kcal-burned-short {
    display: none;
}

.challenges {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-section {
    font-size: var(--font-size-section-title);
    font-weight: 800;
    margin: 2rem 0 1rem;
    padding: 0.7rem 1rem 0.7rem 1rem;
    background-color: var(--card-bg-color);
    border: 2px solid var(--color-gray);
    border-radius: 12px;
    width: fit-content;
    height: fit-content;
    transition: 0.1s ease-in-out;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 100%;
}

.card {
    background-color: var(--card-bg-color);
    border: 2px solid var(--color-gray);
    border-radius: 12px;
    padding: 1rem;
    width: 200px;
    height: fit-content;
    transition: 0.1s ease-in-out;
    cursor: pointer;
    opacity: 1;
    transform: scale(1);
    transition: all 0.4s ease;
}
.hidden {
    opacity: 0;
    transform: scale(0.1);
    pointer-events: none;
    transition: all 0.4s ease;
}
.card:hover {
    transform: scale(1.03) rotate(1.5deg);
}

.card h3 {
    margin: 0 0 0.5rem;
    font-size: 1.1rem;
}

.card p {
    margin: 0.3rem 0;
    font-size: 0.95rem;
}

.trophy {
    width: 20%;
    height: auto;
}

.red { border-color: var(--color-red) }
.orange { border-color: var(--color-orange) }
.yellow { border-color: var(--color-yellow) }
.green { border-color: var(--color-green) }
.blue { border-color: var(--color-blue) }
.cyan { border-color: var(--color-cyan) }
.gray { border-color: var(--color-gray) }
.color-diff { border-color: var(--color-diff); background-color: var(--color-diff-dark); }

.red:hover { background-color: var(--color-red-dark); }
.orange:hover { background-color: var(--color-orange-dark); }
.yellow:hover { background-color: var(--color-yellow-dark); }
.green:hover { background-color: var(--color-green-dark); }
.blue:hover { background-color: var(--color-blue-dark); }
.cyan:hover { background-color: var(--color-cyan-dark); }
.gray:hover { background-color: var(--color-gray-dark); }
.color-diff:hover { background-color: var(--color-diff-medium); }

.red:active {background-color: var(--color-red); }
.orange:active { background-color: var(--color-orange); }
.yellow:active { background-color: var(--color-yellow); }
.green:active { background-color: var(--color-green); }
.blue:active { background-color: var(--color-blue); }
.cyan:active { background-color: var(--color-cyan); }
.gray:active { background-color: var(--color-gray); }
.color-diff:active { background-color: var(--color-diff); }

.red-blue {
    border-left-color: var(--color-red);
    border-top-color: var(--color-red);
    border-right-color: var(--color-blue);
    border-bottom-color: var(--color-blue);
}
.red-blue:hover {
    background-image: linear-gradient(to right, var(--color-red-dark), var(--color-blue-dark));
}
.red-blue:active {
    background-image: linear-gradient(to right, var(--color-red), var(--color-blue));
}

.red-green {
    border-left-color: var(--color-red);
    border-top-color: var(--color-red);
    border-right-color: var(--color-green);
    border-bottom-color: var(--color-green);
}
.red-green:hover {
    background-image: linear-gradient(to right, var(--color-red-dark), var(--color-green-dark));
}
.red-green:active {
    background-image: linear-gradient(to right, var(--color-red), var(--color-green));
}

.color-repeat {
    border-color: var(--color-gray);
    background-image: linear-gradient(to bottom, var(--card-bg-color), var(--color-blue-dark));
}
.color-repeat:hover {
    background-image: linear-gradient(to bottom, var(--card-bg-color), var(--color-blue));
}
.color-repeat:active {
    background-image: linear-gradient(to bottom, var(--color-cyan-dark), var(--color-cyan));
}

#wipe-save {
    all: unset;
    border: 2px solid var(--color-red);
    background-color: var(--color-red-dark);
    border-radius: 10px;
    padding: 10px 15px;
    color: var(--text-color);
    margin-top: 80px;
}
#wipe-save:hover {
    background-color: var(--color-red);
    cursor: pointer;
}

@media (max-width: 750px) {
    .main-layout {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    .divider {
        display: none;
    }

    #kcal-burned {
        display: none;
    }
    #kcal-burned-short {
        display: block;
    }
}