:root {
    --bg-color: #121212;
    --text-color: #f0f0f0;
    --card-bg-color: #1e1e1e;

    --color-red: #d66;
    --color-red-dark: #5e2626;
    --color-orange: #e99b42;
    --color-orange-dark: #55390f;
    --color-yellow: #e6d66c;
    --color-yellow-dark: #4b4a2b;
    --color-green: #4c4;
    --color-green-dark: #1b541b;
    --color-cyan: #52b0ba;
    --color-cyan-dark: #1f3e42;
    --color-blue: #66c;
    --color-blue-dark: #2a2b53;
    --color-gray: #999;
    --color-gray-dark: #444444;

    --color-diff: #f00;
    --color-diff-medium: #880000;
    --color-diff-dark: #440000;

    --color-main: var(--color-green);
    --color-main-dark: var(--color-green-dark);

    --font: 'Open Sans';
    --font-size-section-title: 1.5rem;
    --font-size-card-title: 1.1rem;
    --font-size-card-text: 0.95rem;
}

body {
    margin: 0;
    font-family: var(--font), sans-serif;
    color: var(--text-color);
    padding: 2rem;
    user-select: none;
    background-color: var(--bg-color);
}

.title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

button, .button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 50px;
    color: white;
    border: 2px solid var(--color-green);
    border-radius: 25px;
    text-decoration: none;
    font-weight: 800;
    font-family: var(--font), sans-serif;
    background-color: var(--color-green-dark);
}
button:active, .button:active {
    transform: scale(0.95);
    background-color: var(--color-green);
}
input {
    accent-color: var(--color-main);
}